{{#partial "content"}}
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-danger" href="#">Home <span class="sr-only">heroes</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/squads/new"> squad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/heroes/new">hero</a>
                </li>
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link disabled" href="#">Disabled</a>-->
                <!--                </li>-->
            </ul>
        </div>
    </nav>

    <li class="card">
        <h3 class="card-title" id="hero">Name:{{hero.name}}</h3>
        <p id="hero-text">Age:{{hero.age}}</p>
        <p id="hero-text">Power:{{hero.power}}</p>
        <p id="hero-text">Weakness:{{hero.weakness}}</p>

        <a href="/squads/{{hero.squadId}}" class="btn btn-success">{{squad.name}} squad</a>
    </li>
{{/partial}}

{{> layout.hbs}}