
{{#partial "content"}}
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-danger" href="/">Home <span class="sr-only">heroes</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/squads/new"> squad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/heroes/new">hero</a>
                </li>
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link disabled" href="#">Disabled</a>-->
                <!--                </li>-->
            </ul>
        </div>
    </nav>
    <div class="card">
        <div class="card-header">
            <h1 class="text-center card-title">Squad name: {{squad.name}}</h1>
        </div>
        <div class="card-body">
            <h3 class="text-center" >Squad size: {{squad.size}}</h3>
            <h3 class="text-center">Squad mission: {{squad.cause}}</h3>
        </div>

    </div>


    {{#if heroes-in-squad}}
        <h2>Heroes in {{squad.name}}</h2>
        <ol>
            {{#each heroes-in-squad}}
                <li class="card">

                    <a href="/heroes/{{id}}" ><p id="hero-text">{{name}}</p></a>
                </li>
                <br><br>
            {{/each}}
        </ol>
    {{else}}
        <p class="alert alert-info card-title">There are no heroes in {{squad.name}} squad</p>
    {{/if}}

    <a href="/heroes/new" class="btn btn-lg btn-success col-md-6"> Add hero</a>
    {{/partial}}
{{> layout.hbs}}